:root {
    --color-btn-marker: #F1CDB3;
    --color-btn-hover: #FDDCC4;
    --color-title: #545454;
    --color-text: #4C4C4C;
    --color-btn-text: #292929;
    --colot-text-help-opacity: #B2B2B2;
    --color-not-only-opacity: #CDCDCD;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1,
h2,
span,
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: calc(35px * 0.06);

}


.container {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    overflow: hidden;
}


.header__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


.header__body {

    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.5s;
}

.header__logo:hover>div {
    color: var(--color-not-only-opacity);
}

.header__logo:active>.header__logo-title {
    color: var(--color-btn-marker);
}

.header__logo:active>.header__logo-subtitle {
    color: #ffffff;
}

.header__logo-title {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.92px;
    line-height: 110%;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-btn-marker);
    height: 35px;
}

.header__logo-subtitle {
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.4px;
    line-height: 15px;
    color: #ffffff;
}


.header__list {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


.header__link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 160%;
    font-size: 15px;
    color: var(--color-title);
    text-decoration: none;
    transition: all 0.5s;
}

.header__item {
    transition: all 0.5s;
}

.header__item:hover {
    border-bottom: 1px solid var(--color-btn-marker);
}

.header__item:hover>.header__link {
    color: var(--color-not-only-opacity);
}




.container__general {
    background: url(./assets/index/svg/noise_transparent.svg), url(./assets/index/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}


.not-only__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
}

.not-only__title-btn {
    max-width: 460px;
    padding-top: 163px;
    padding-bottom: 243px;
    display: flex;
    gap: 42px;
    flex-direction: column;
}


.not-only__title {
    width: 310px;
    max-height: 114px;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 400;

}

.not-only__text {
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-not-only-opacity);
}

.not-only__btn {
    width: 207px;
    height: 52px;
    padding: 15px 45px;
    border-radius: 100px;
    background-color: var(--color-btn-marker);
    font-size: 17px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.05);
    font-weight: 400;
    color: var(--color-btn-text);
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;

}

.not-only__btn:hover {
    background-color: var(--color-btn-hover);

}

.not-only__btn:active {
    background-color: var(--color-btn-marker);

}


.not-only__box-img {
    width: 698px;
    height: 728px;
    position: relative;
    z-index: 5;
    background-image: url(./assets/index/img/start-screen-puppy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}



.about__body {
    padding-top: 80px;
    padding-bottom: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about__box-img {
    max-height: 408px;
}

.about__img {}

.block-right {
    max-width: 430px;
}

.about__block-right {}

.about__title {
    max-width: 370px;
    max-height: 92px;
    margin-bottom: 24px;
    color: var(--color-title);
}

.about__text {
    color: var(--color-text);
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-align: left;
    font-weight: 400;

}

.about__text:last-child {
    margin-bottom: 0;
}



.our-Friends {
    position: relative;
    margin-bottom: 179px;
}

.our-Friends__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-Friends__title {
    max-width: 400px;
    height: 92px;
    margin-bottom: 59px;
    text-align: center;
    color: var(--color-title);

}

.our-Friends__slider {
    padding-bottom: 90px;
}

.slider__track {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    flex-wrap: wrap;
}

.slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.slider__slide:hover>img {
    filter: opacity(0.5);
}

.slider__slide:hover>span {
    filter: opacity(0.5);
}

.slider__img {}

.slider__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: calc(20px * 0.06);
    line-height: 23px;
    color: var(--color-title);
}



.slider__btn {
    width: 187px;
    height: 52px;
    padding: 15px 45px;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.06);
    color: var(--color-btn-text);
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
}

.slider__btn:hover {
    background-color: var(--color-btn-hover);
    border: 2px solid var(--color-btn-hover);
}

.slider__btn:active {
    background-color: #fff;
    border: 2px solid #000000;
}

.slider__arrow {
    position: absolute;
    top: calc(50% + 19px);
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
    cursor: pointer;
    transition: all 0.5s;
}


.slider__arrow:hover {
    background-color: var(--color-btn-hover);
}

.slider__arrow:active>.slider__symbol {
    color: var(--color-not-only-opacity);
}

.slider__arrow:active {
    background-color: #fff;
    border: 2px solid var(--color-not-only-opacity);
}

.slider__arrow-prev {
    left: 25px;
}

.slider__arrow-next {
    right: 25px;
    transform: translate(50%, -50%);
}

.slider__symbol {
    font-size: 22px;
    color: #000000;
    font-weight: 100;
}


.slider__arrow-symbol-prev {
    transform: rotate(90deg);
}

.slider__arrow-symbol-next {
    transform: rotate(-90deg);
}

.our-Friends__btn {
    width: 261px;
    height: 52px;
    padding: 15px 0px;
    background-color: var(--color-btn-marker);
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.06);
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.5s;
}

.our-Friends__btn:hover {
    background-color: var(--color-btn-hover);
}

.our-Friends__btn:active {
    background-color: var(--color-btn-marker);
}

.help {
    margin-bottom: 180px;
}

.help__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__title {
    max-width: 310px;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 59px;
    text-align: center;
    color: var(--color-title);

}

.help__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.help__box>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__box-top {
    margin-bottom: 55px;
}

.help__box-img {
    margin-bottom: 30px;
}

.help__subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    color: var(--color-title);
}

.help__box-bottom {}

.addition {
    margin-bottom: 100px;
}

.addition__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.addition__box-img {}

.addition__img {}

.addition__block-right {
    display: flex;
    flex-direction: column;
}

.addition__title {
    max-width: 300px;
    margin-bottom: 19.5px;
    color: var(--color-title);
}

.addition__text-bank {
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: calc(15px * 0.06);
    height: 16px;
    margin-bottom: 20.5px;
    color: var(--color-title)
}

.addition__card {
    max-width: 349px;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    text-align: left;
    background-color: var(--color-btn-marker);
    color: var(--color-title);
}

.addition__card:hover {
    background-color: var(--color-btn-hover);
}
.addition__card:active {
    background-color: var(--color-btn-marker);
}

.addition__icon-card {}

.addition__text {
    max-width: 380px;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    color: var(--colot-text-help-opacity);
}

.footer {}

.footer__container {
    background: url(./assets/index/svg/noise_transparent.svg), url(./assets/index/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__body {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__title {
    max-width: 280px;
    text-align: left;
}

.contact {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.footer__email {}

.contact__icon {}

.contact__link-icon {
    max-width: 302px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    text-decoration: none;
    color: var(--color-btn-marker);
}

.contact__link-icon:hover {
    color: var(--color-btn-hover);
}

.contact__link-icon:active {
    color: var(--color-btn-marker);
}

.footer__tel {}

.footer__location {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__adress {}