:root {
    --color-btn-marker: #F1CDB3;
    --color-btn-hover: #FDDCC4;
    --color-title: #545454;
    --color-text: #4C4C4C;
    --color-btn-text: #292929;
    --colot-text-help-opacity: #B2B2B2;
    --color-not-only-opacity: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1,
h2,
span,
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    overflow: hidden;
}



.header {}

.header__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


.header__body {

    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header__logo-title {
    font-size: 32px;
    color: var(--color-btn-marker);
}

.header__logo-subtitle {}

.header__menu {}

.header__list {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header__item {}

.header__link {
    color: var(--color-title);
    text-decoration: none;
}

.main {}

.container__general {
    background: url(./assets/index/svg/noise_transparent.svg), url(./assets/index/svg/noise_transparent@2x.svg), radial-gradient(rgb(91, 72, 58), rgb(38, 36, 37));

}

.not-only {}

.not-only__body {
    padding-top: 180px;
}

.not-only__title-btn {}

.not-only__title {}

.not-only__text {}

.not-only__btn {}

.box-img {}

.not-only__box-img {}

.box-img__ing {}

.not-only__img {}

.about {}

.about__body {}

.about__box-img {}

.about__img {}

.block-right {}

.about__block-right {}

.about__title {}

.about__text {}

.our-Friends {}

.our-Friends__body {}

.our-Friends__title {}

.slider {}

.our-Friends__slider {}

.slider__track {}

.slider__slide {}

.slider__img {}

.slider__title {}

.slider__btn {}

.slider__arrow-prev {}

.slider__arrow-next {}

.our-Friends__btn {}

.help {}

.help__body {}

.help__title {}

.help__box {}

.help__box-top {}

.help__box-img {}

.help__subtitle {}

.help__box-bottom {}

.addition {}

.addition__body {}

.addition__box-img {}

.addition__img {}

.addition__block-right {}

.addition__title {}

.addition__text-bank {}

.addition__card {}

.addition__icon-card {}

.addition__text {}

.footer {}

.footer__body {}

.footer__contact {}

.footer__title {}

.contact {}

.footer__email {}

.contact__icon {}

.contact__link-icon {}

.footer__tel {}

.footer__location {}

.footer__adress {}