:root {
    --color-btn-marker: #F1CDB3;
    --color-btn-hover: #FDDCC4;
    --color-title: #545454;
    --color-text: #4C4C4C;
    --color-btn-text: #292929;
    --colot-text-help-opacity: #B2B2B2;
    --color-not-only-opacity: #CDCDCD;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1,
h2,
span,
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    overflow: hidden;
}



.header {}

.header__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


.header__body {

    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header__logo-title {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.92px;
    line-height: 110%;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-btn-marker);
}

.header__logo-subtitle {
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.4px;
    line-height: 15px;
    color: #ffffff;
}


.header__list {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


.header__link {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-size: 15px;
    color: var(--color-title);
    text-decoration: none;
}


.container__general {
    background: url(./assets/index/svg/noise_transparent.svg), url(./assets/index/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}


.not-only__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
}

.not-only__title-btn {
    padding-top: 163px;
    padding-bottom: 243px;
    width: 460px;
    display: flex;
    gap: 42px;
    flex-direction: column;
}

.not-only__title {
    width: 360px;
    font-size: 44px;
    font-weight: 400px;

}

.not-only__text {
    font-size: 15px;
    line-height: 160%;
    color: var(--color-text);
}

.not-only__btn {
    width: 207px;
    padding: 15px 45px;
    border-radius: 100px;
    background-color: var(--color-btn-marker);
    color: var(--color-btn-text);
}

.not-only__btn:hover {
    background-color: var(--color-btn-hover);
    cursor: pointer;
}



.about__body {
    padding-top: 80px;
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
}

.about__box-img {}

.about__img {}

.block-right {
    width: 430px;
}

.about__block-right {
    padding-top: 14px;
}

.about__title {
    width: 370px;
    margin-bottom: 24px;
    color: var(--color-title);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
}

.about__text {
    color: var(--color-text);
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-align: left;

}

.block-right:last-child {
    margin-bottom: 0px;
}

.our-Friends {
    position: relative;
}

.our-Friends__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-Friends__title {
    width: 415px;
    padding-bottom: 59px;
    text-align: center;
    color: var(--color-title);
    font-size: 35px;
    height: 130%;
    letter-spacing: 6%;
}

.slider {}

.our-Friends__slider {
    padding-bottom: 90px;
}

.slider__track {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    flex-wrap: wrap;
}

.slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.slider__img {}

.slider__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6%;
    color: var(--color-title);
}

.slider__btn {
    width: 187px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    color: var(--color-btn-text);
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 100px;
}

.slider__arrow {
    position: absolute;
    top: calc(50% + 35px);
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
}

.slider__arrow-prev {
    left: 25px;
}

.slider__arrow-next {
    right: 25px;
    transform: translate(50%, -50%);
}

.our-Friends__btn {
    width: 261px;
    padding: 15px 45px;
    background-color: var(--color-btn-marker);
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
}

.help {}

.help__body {}

.help__title {}

.help__box {}

.help__box-top {}

.help__box-img {}

.help__subtitle {}

.help__box-bottom {}

.addition {}

.addition__body {}

.addition__box-img {}

.addition__img {}

.addition__block-right {}

.addition__title {}

.addition__text-bank {}

.addition__card {}

.addition__icon-card {}

.addition__text {}

.footer {}

.footer__body {}

.footer__contact {}

.footer__title {}

.contact {}

.footer__email {}

.contact__icon {}

.contact__link-icon {}

.footer__tel {}

.footer__location {}

.footer__adress {}