* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

body {
  overflow: hidden;
}
body .popupEndGame {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 1.25rem 12.5rem;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem;
}
body .popupEndGame .popupEndGame__title {
  margin-bottom: 6.25rem;
  text-align: center;
  font-size: 2.625rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__text {
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__counter-skill {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__link {
  margin-bottom: 1.875rem;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
body .popupEndGame .popupEndGame__link:hover {
  transform: scale(1.2);
}
body .active-popupEndGame {
  display: flex;
}
body .popupStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background-image: url(../assets/img/shadow/old-dark-room-with-stone-walls-candles_893012-128244.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
body .popupStart .popupStart__title {
  font-size: 3rem;
  color: #ffffff;
}
body .popupStart .popupStart__text {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: #d7eede;
  font-weight: 700;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupStart .popupStart__btn {
  padding: 0.9375rem 1.875rem;
  font-size: 2rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body .popupStart .popupStart__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
body .inactive-popupStart {
  display: none;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(../assets/img/shadow/old-dark-room-with-stone-walls-candles_893012-128244.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
body .wrapper .header .container .header__title {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .main {
  flex: 1;
}
body .wrapper .footer .container .gameItems {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
}
body .wrapper .footer .container .gameItems .gameItems__link-back {
  transition: color 0.5s ease-in-out;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__link-back:hover {
  color: #757575;
}
body .wrapper .footer .container .gameItems .gameItems__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__skills span {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .gameItems__icon_skills {
  width: 2rem;
  display: none;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .active-gameItems__icon_skills {
  display: flex;
}
body .wrapper .footer .container .gameItems .gameItems__life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life span {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart {
  display: flex;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart .gameItems__icon {
  width: 2rem;
}
body .inactive-wrapper {
  filter: brightness(0.5);
}

.active-body {
  overflow: visible;
}

@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 8px;
  }
}
body .wrapper .header .container {
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: center;
}
body .wrapper .header .container .header__title {
  margin-left: 100px;
  justify-content: center;
}
body .wrapper .header .container .header__sound {
  justify-self: end;
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  background-image: url(../assets/svg/main/sound.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body .wrapper .header .container .header__sound:hover {
  transform: scale(1.2);
}
body .wrapper .header .container .header__sound-inactive::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 5px;
  transform: rotate(45deg);
  width: 3.75rem;
  height: 4px;
  z-index: 2;
  background-color: rgba(32, 32, 32, 0.8235294118);
}

body .popup-NewGame {
  padding: 1.875rem 4.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 0.625rem;
  background-image: url(../assets/img/mapNewGame/860.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .popup-NewGame .popup-NewGame__text {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popup-NewGame .popup-NewGame__nameUser {
  padding: 0px 2px;
  font-size: 1.375rem;
  border: 2px solid #000000;
  cursor: pointer;
}
body .popup-NewGame .popup-NewGame__btn {
  font-size: 1.125rem;
  padding: 0.3125rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body .popup-NewGame .popup-NewGame__btn:hover {
  color: #ffffff;
  background-color: #000000;
}
body .popup-NewGame .popup-NewGame__btn:active {
  color: #000000;
  background-color: #ffffff;
}
body .inactive-popup-NewGame {
  display: none;
}
body .popup-fininal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6.25rem;
  background-image: url(../assets/img/mapNewGame/final__popup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body .popup-fininal .popup-fininal__title {
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popup-fininal .popup-fininal__text {
  text-align: center;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popup-fininal .popup-fininal__btn {
  font-size: 1.5rem;
  padding: 20px 40px;
  cursor: pointer;
  margin-bottom: 100px;
  transition: all 0.5s ease-in-out;
}
body .popup-fininal .popup-fininal__btn:hover {
  background-color: rgba(0, 0, 0, 0.7058823529);
  color: #ffffff;
}
body .popup-fininal__active {
  display: flex;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(../assets/img/mapNewGame/chef-rpg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
  pointer-events: none;
}
body .wrapper .header .container .header__title {
  color: #c7936b;
  -webkit-text-stroke: 1px #ffffff;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .main {
  flex: 1;
}
body .wrapper .main .container .box-games {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 3.125rem;
}
body .wrapper .main .container .box-games .box-games__task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4375rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.2px #000000;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  transition: color 0.5s ease-in-out;
}
body .wrapper .main .container .box-games .box-games__task:hover > img {
  color: #c7936b;
  transform: scale(1.2);
}
body .wrapper .main .container .box-games .box-games__task:hover > span {
  color: #c7936b;
}
body .wrapper .main .container .box-games .box-games__task:hover > .box-games-img_castl {
  transform: scale(1.7);
}
body .wrapper .main .container .box-games .box-games__task img {
  width: 6.25rem;
  height: 6.25rem;
  -o-object-fit: fill;
     object-fit: fill;
  transition: all 0.5s ease-in-out;
}
body .wrapper .main .container .box-games .box-games__task .box-games-img_castl {
  transform: scale(1.5);
}
body .wrapper .main .container .box-games .box-games__task-done {
  filter: brightness(0.6);
}
body .wrapper .footer .container .gameItems {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
}
body .wrapper .footer .container .gameItems .gameItems__link-back {
  transition: color 0.5s ease-in-out;
}
body .wrapper .footer .container .gameItems .gameItems__link-back:hover {
  color: #000000;
}
body .wrapper .footer .container .gameItems .gameItems__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .gameItems__icon_skills {
  width: 2rem;
  display: none;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .active-gameItems__icon_skills {
  display: flex;
}
body .wrapper .footer .container .gameItems .gameItems__life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart {
  display: flex;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart .gameItems__icon {
  width: 2rem;
}
body .activ-wrapper {
  pointer-events: all;
  filter: brightness(1);
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 9px;
  }
}