* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

body {
  overflow: hidden;
}
body .popupEndGame {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 1.25rem 12.5rem;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem;
}
body .popupEndGame .popupEndGame__title {
  margin-bottom: 6.25rem;
  text-align: center;
  font-size: 2.625rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__text {
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__link {
  margin-bottom: 1.875rem;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
body .popupEndGame .popupEndGame__link:hover {
  transform: scale(1.2);
}
body .active-popupEndGame {
  display: flex;
}
body .popupStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background-image: url(../assets/img/shadow/old-dark-room-with-stone-walls-candles_893012-128244.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
body .popupStart .popupStart__title {
  font-size: 3rem;
  color: #ffffff;
}
body .popupStart .popupStart__text {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: #d7eede;
  font-weight: 700;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupStart .popupStart__btn {
  padding: 0.9375rem 1.875rem;
  font-size: 2rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body .popupStart .popupStart__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
body .inactive-popupStart {
  display: none;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(../assets/img/shadow/old-dark-room-with-stone-walls-candles_893012-128244.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .header .container .header__title {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .main {
  flex: 1;
}
body .wrapper .footer .container .gameItems {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
}
body .wrapper .footer .container .gameItems .gameItems__link-back {
  transition: color 0.5s ease-in-out;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__link-back:hover {
  color: #757575;
}
body .wrapper .footer .container .gameItems .gameItems__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__skills span {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .gameItems__icon_skills {
  width: 2rem;
  display: none;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .active-gameItems__icon_skills {
  display: flex;
}
body .wrapper .footer .container .gameItems .gameItems__life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life span {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart {
  display: flex;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart .gameItems__icon {
  width: 2rem;
}
body .inactive-wrapper {
  filter: brightness(0.5);
}

.active-body {
  overflow: visible;
}

@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 8px;
  }
}
body {
  overflow: hidden;
}
body .popupEndGame {
  background-image: url(../assets/img/sky/win_sky.avif);
}
body .changeImgPopupEndGame {
  background-image: url(../assets/img/sky/loose_sky.jpg);
}
body .popupStart {
  min-height: 100vh;
  background-image: url(../assets/img/sky/city.jfif);
}
body .popupStart .popupStart__title {
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupStart .popupStart__text {
  color: #ffffff;
}
body .wrapper {
  background-image: url(../assets/img/sky/city.jfif);
}
body .wrapper .main {
  flex: 1;
}
body .wrapper .main .container .playing-Field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
body .wrapper .main .container .playing-Field .playing-Field__enemy {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
body .wrapper .main .container .playing-Field .playing-Field__enemy span {
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 1.5rem;
}
body .wrapper .main .container .playing-Field .playing-Field__enemy .playing-Field__box-heart-enemy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .main .container .playing-Field .playing-Field__enemy .playing-Field__box-heart-enemy .playing-Field-heart-enemy {
  width: 2rem;
}
body .wrapper .main .container .playing-Field .playing-Field__general {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  max-width: 13.5rem;
  background-color: #add3f1;
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-user .card__img-user {
  max-width: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-user .card__answer-user {
  font-size: 0.875rem;
  pointer-events: none;
  border: none;
  background-color: transparent;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  filter: brightness(0.9);
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__btn-game {
  max-height: 3.125rem;
  padding: 0rem 3.125rem;
  font-size: 1.625rem;
  cursor: pointer;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__btn-game-inactive {
  pointer-events: none;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-enemy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  max-width: 13.5rem;
  background-color: #add3f1;
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-enemy .card__img-enemy {
  max-width: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-enemy .card__answer-enemy {
  font-size: 0.875rem;
  pointer-events: none;
  border: none;
  background-color: transparent;
}
body .wrapper .main .container .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  filter: brightness(0.9);
}
body .wrapper .main .container .playing-Field .playing-Field__user {
  display: flex;
  overflow-x: scroll;
  gap: 0.3125rem;
  align-items: last baseline;
  max-width: 100%;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  max-width: 13.5rem;
  background-color: #add3f1;
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__img {
  max-width: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__question {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__question-active {
  height: auto;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__answer {
  max-width: 12.5rem;
  font-size: 18px;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__skils {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  filter: brightness(0.9);
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card .card__btn {
  padding: 0.3125rem 0.625rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card:hover {
  cursor: pointer;
  filter: brightness(1);
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card-inactive {
  pointer-events: none;
  filter: brightness(0.4);
}
body .wrapper .main .container .playing-Field .playing-Field__user .playing-Field__card-permoment-inactive {
  pointer-events: none;
  filter: brightness(0.5);
}
body .wrapper .main .container .playing-Field .playing-Field__user::-webkit-scrollbar {
  height: 1rem;
}
body .wrapper .main .container .playing-Field .playing-Field__user::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.616);
  border-radius: 0.625rem;
}
body .wrapper .main .container .playing-Field .playing-Field__user::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.26);
}