* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

body {
  overflow: hidden;
}
body .popupEndGame {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  padding: 1.25rem 12.5rem;
  background-image: url(../assets/img/smithy/smithy.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem;
  height: 100vh;
}
body .popupEndGame .popupEndGame__title {
  margin-bottom: 6.25rem;
  text-align: center;
  font-size: 2.625rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__text {
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .popupEndGame .popupEndGame__link {
  margin-bottom: 1.875rem;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
body .popupEndGame .popupEndGame__link:hover {
  transform: scale(1.2);
}
body .active-popupEndGame {
  display: flex;
}
body .popupStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background-image: url(../assets/img/smithy/smithy2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
body .popupStart .popupStart__title {
  font-size: 2.25rem;
  color: #ffffff;
}
body .popupStart .popupStart__text {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}
body .popupStart .popupStart__btn {
  padding: 0.9375rem 1.875rem;
  font-size: 2rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body .popupStart .popupStart__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
body .inactive-popupStart {
  display: none;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(../assets/img/smithy/smithy2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .header .container .header__title {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 3.875rem;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
body .wrapper .main {
  flex: 1;
}
body .wrapper .main .container .slider {
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body .wrapper .main .container .slider .slider__title {
  margin-bottom: 6.25rem;
  font-size: 42px;
  color: #501605;
}
body .wrapper .main .container .slider .slider__track {
  margin-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .main .container .slider .slider__track .slider__questions .slider__text {
  text-align: center;
  margin-bottom: 3.125rem;
  font-size: 2rem;
  color: #ffffff;
}
body .wrapper .main .container .slider .slider__track .slider__btn {
  position: relative;
  z-index: 2;
  margin-bottom: 1.25rem;
  width: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .wrapper .main .container .slider .slider__track .slider__btn:hover {
  transform: scale(1.1);
}
body .wrapper .main .container .slider .slider__track .slider__btn:active {
  transform: rotate(-150deg) scale(1.2);
}
body .wrapper .main .container .slider .slider__track .active__alider-btn {
  transform: rotate(-150deg) scale(1.2);
}
body .wrapper .main .container .slider .slider__track .slider__answer {
  position: relative;
  display: flex;
  justify-content: center;
}
body .wrapper .main .container .slider .slider__track .slider__answer label {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  color: #000000;
  transition: all 0.5s ease-in-out;
}
body .wrapper .main .container .slider .slider__track .slider__answer label .slider__input {
  padding-left: 0.3125rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
}
body .wrapper .main .container .slider .slider__track .slider__answer label:hover {
  color: #501605;
}
body .wrapper .main .container .slider .slider__track .slider__answer .slider__img-sword {
  position: absolute;
  top: -8rem;
  left: 2.5rem;
  z-index: 1;
  width: 18.75rem;
  transform: rotate(-135deg);
}
body .wrapper .main .container .slider .popup-correction {
  position: absolute;
  bottom: 0rem;
  left: -900px;
  transition: all 1s ease-in-out;
}
body .wrapper .main .container .slider .popup-correction .popup-correction__text {
  font-size: 2.7rem;
  color: #6ac585;
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
}
body .wrapper .main .container .slider .departure-popup-correction {
  left: 0;
}
body .wrapper .footer .container .gameItems {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
}
body .wrapper .footer .container .gameItems .gameItems__link-back {
  transition: color 0.5s ease-in-out;
  color: #ffffff;
}
body .wrapper .footer .container .gameItems .gameItems__link-back:hover {
  color: #757575;
}
body .wrapper .footer .container .gameItems .gameItems__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .gameItems__icon_skills {
  width: 2rem;
  display: none;
}
body .wrapper .footer .container .gameItems .gameItems__skills .gameItems__box-skills .active-gameItems__icon_skills {
  display: flex;
}
body .wrapper .footer .container .gameItems .gameItems__life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart {
  display: flex;
  gap: 0.3125rem;
}
body .wrapper .footer .container .gameItems .gameItems__life .gameItems__box-heart .gameItems__icon {
  width: 2rem;
}
body .inactive-wrapper {
  filter: brightness(0.5);
}

.active-body {
  overflow: visible;
}

@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 8px;
  }
}