.header {
    position: relative;
    z-index: 2;
}

.header__body {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header__logo:hover>div {
    color: var(--color-not-only-opacity);
}

.header__logo:active>.header__logo-title {
    color: var(--color-btn-marker);
}

.header__logo:active>.header__logo-subtitle {
    color: #ffffff;
}

.header__logo-title {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.92px;
    line-height: 110%;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-btn-marker);
    height: 35px;
    transition: all 0.5s;
}

.header__logo-subtitle {
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.4px;
    line-height: 15px;
    color: #ffffff;
    transition: all 0.5s;
}


.burger {
    display: none;
}

.header__list {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


.header__link {
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 160%;
    font-size: 15px;
    color: var(--color-not-only-opacity);
    text-decoration: none;

}

.header__link--activ {
    border-bottom: 3px solid var(--color-btn-marker);
    color: #FAFAFA;
    pointer-events: none;
}

.header__item {}


.header__item:hover>.header__link {
    color: #FAFAFA;
}

.header__item:active>.header__link {
    color: var(--color-not-only-opacity);
}

@media (max-width:767px) {
    .header__body {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__menu {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 0;
        height: 823px;
        padding: 248px 0px;
        background-color: #292929;
        overflow: hidden;
        transition: width 0.7s ease;
    }

    .header__list {
        flex-direction: column;
        color: transparent;
    }

    .header__link {
        font-size: 32px;
        color: inherit;
        border-bottom: 3px solid transparent;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
        transition: all 0.7s ease;
    }

    .burger::after {
        position: absolute;
        top: 10px;
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
    }

    .burger::before {
        position: absolute;
        top: -10px;
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
    }

    .active-menu {
        width: 320px;
    }

    .active-header__list {
        color: var(--color-not-only-opacity);
        transition: color 0.7s ease 0.3s;
    }

    .active-header__link {
        border-bottom: 3px solid var(--color-btn-marker);
        color: #FAFAFA;
        transition: all 0.7s ease 0.3s;
    }



    .active-burger {
        transform: rotate(90deg);
    }




}