.header {
    position: relative;
    z-index: 2;
}

.header__body {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header__logo:hover>div {
    color: var(--color-not-only-opacity);
}

.header__logo:active>.header__logo-title {
    color: var(--color-btn-marker);
}

.header__logo:active>.header__logo-subtitle {
    color: #ffffff;
}

.header__logo-title {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.92px;
    line-height: 110%;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-btn-marker);
    height: 35px;
    transition: all 0.5s;
}

.header__logo-subtitle {
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.4px;
    line-height: 15px;
    color: #ffffff;
    transition: all 0.5s;
}


.burger {
    display: none;
}

.header__list {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


@media (max-width:700px) {
    .header__body {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__menu {
        position: absolute;
        top: -900px;
        right: 0px;
        padding: 248px 30px;
        background-color: #292929;
    }

    .header__list {
        flex-direction: column;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
    }

    .burger::after {
        position: absolute;
        top: 10px;
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
    }

    .burger::before {
        position: absolute;
        top: -10px;
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--color-btn-marker);
    }

    .active-burger {
        top: 0;
    }

}




.header__link {
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 160%;
    font-size: 15px;
    color: var(--color-title);
    text-decoration: none;
    transition: all 0.5s;
}

.header__link--activ {
    border-bottom: 3px solid var(--color-btn-marker);
    color: var(--color-not-only-opacity);
    pointer-events: none;
}

.header__item {
    transition: all 0.5s;
}


.header__item:hover>.header__link {
    color: var(--color-not-only-opacity);
}