@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");



.main {
    position: relative;
    margin-top: -90px;
    z-index: 1;
}


@media (max-width:700px) {
    h2 {
        font-size: 25px;
    }

}


.container__general {
    background: url(../assets/index/svg/noise_transparent.svg), url(../assets/index/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}


.container__uniq {
    background-color: #F6F6F6;
}

.not-only__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
}



.not-only__title-btn {
    max-width: 460px;
    padding-top: 163px;
    padding-bottom: 243px;
    display: flex;
    gap: 42px;
    flex-direction: column;
}

.not-only__title {
    width: 310px;
    max-height: 114px;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 400;

}

.not-only__text {
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-not-only-opacity);
}

.not-only__btn {
    width: 207px;
    height: 52px;
    padding: 15px 45px;
    border-radius: 100px;
    background-color: var(--color-btn-marker);
    font-size: 17px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.05);
    font-weight: 400;
    color: var(--color-btn-text);
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;

}

.not-only__btn:hover {
    background-color: var(--color-btn-hover);

}

.not-only__btn:active {
    background-color: var(--color-btn-marker);

}


.not-only__box-img {
    width: 698px;
    height: 728px;
    position: relative;
    z-index: 5;
    background-image: url(../assets/index/img/start-screen-puppy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

@media (max-width:1200px) {
    .not-only__body {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .not-only__title-btn {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .not-only__btn {
        margin: 0 auto;
    }

    .not-only__box-img {
        width: 569px;
        height: 593px;
        justify-self: end;
    }
}

@media (max-width:767px) {
    .not-only__title-btn {
        padding-bottom: 105px;
        display: flex;
        gap: 42px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .not-only__title {
        width: 200px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: calc(25px * 0.06);
    }

    .not-only__box-img {
        width: 260px;
        height: 271px;
        justify-self: end;
    }

    .active-filter {
        filter: brightness(0.5);
    }
}




.about__body {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}



.about__box-img {
    max-height: 408px;
}



.block-right {
    max-width: 430px;
}


.about__title {
    max-width: 370px;
    max-height: 92px;
    margin-bottom: 24px;
    color: var(--color-title);
}

.about__text {
    color: var(--color-text);
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-align: left;
    font-weight: 400;

}

.about__text:last-child {
    margin-bottom: 0;
}



@media (max-width:1200px) {
    .about__body {
        flex-wrap: wrap-reverse;
        padding-bottom: 100px;
        gap: 80px;
    }
}


@media (max-width:700px) {
    .about {
        height: 974px;
    }

    .about__body {
        flex-direction: column-reverse;
        padding: 42px 0px;
        gap: 42px;
        text-align: center;
    }

    .about__title {
        width: 250px;
        height: 64px;
        letter-spacing: calc(25px * 0.06);
        font-size: 25px;
    }

    .about__block-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        width: 270px;
        text-align: justify;
        gap: 22px;
        letter-spacing: 0px;
    }

    .about__img {
        width: 260px;
    }
}




.our-Friends {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;
}


.our-Friends__body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.our-Friends__title {
    max-width: 400px;
    margin-bottom: 59px;
    text-align: center;
    color: var(--color-title);

}

.our-Friends__slider {
    padding-bottom: 90px;
    overflow: hidden;

}

.slider__track {
    max-width: 990px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    transform: translateX(0px);
    transition: transform 0.7s ease;
}

.inactive-slider__track {
    pointer-events: none;
}

.slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;


}

.slider__slide:hover>img {
    filter: opacity(0.5);
}

.slider__slide:hover>button {
    background-color: var(--color-btn-hover);
}

.slider__slide:active>img {
    filter: opacity(1);
}

.slider__slide:hover>span {
    filter: opacity(0.5);
}

.slider__slide:active>span {
    filter: opacity(1);
}

.slider__slide:active>button {
    background-color: var(--color-btn-marker);
}

.slider__img {
    transition: all 0.7s;
}

.slider__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: calc(20px * 0.06);
    line-height: 23px;
    color: var(--color-title);
    transition: all 0.6s;
}



.slider__btn {
    width: 187px;
    height: 52px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.06);
    color: var(--color-btn-text);
    background-color: #fff;
    border: 2px solid var(--color-btn-marker);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.slider__btn:hover {
    background-color: var(--color-btn-hover);
    border: 2px solid var(--color-btn-hover);
}

.slider__btn:active {
    background-color: var(--color-btn-marker);
    border: 2px solid var(--color-btn-marker);
}

.slider__arrow {
    position: absolute;
    top: calc(50% + 10px);
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
    cursor: pointer;
    transition: all 0.5s;
}



.slider__arrow:hover {
    background-color: var(--color-btn-hover);
}

.slider__arrow:active>.slider__symbol {
    color: var(--color-not-only-opacity);
}

.slider__arrow:active {
    background-color: #fff;
    border: 2px solid var(--color-not-only-opacity);
}

.slider__arrow-prev {
    left: 25px;
}

.slider__arrow-next {
    right: 25px;
    transform: translate(50%, -50%);
}

.slider__symbol {
    font-size: 22px;
    color: #000000;
    font-weight: 100;
}


.slider__arrow-symbol-prev {
    transform: rotate(90deg);
}

.slider__arrow-symbol-next {
    transform: rotate(-90deg);
}

.our-Friends__btn {
    width: 261px;
    height: 52px;
    padding: 15px 0px;
    background-color: var(--color-btn-marker);
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: calc(17px * 0.06);
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.5s;
}

.our-Friends__btn:hover {
    background-color: var(--color-btn-hover);
}

.our-Friends__btn:active {
    background-color: var(--color-btn-marker);
}


@media (max-width:1200px) {
    .slider__track {
        max-width: 580px;
        gap: 40px;
    }
}

@media (max-width:700px) {
    .our-Friends {
        height: 791px;
        padding: 42px 0px;
    }

    .our-Friends__title {
        height: 66px;
        margin-bottom: 41px;
        letter-spacing: calc(25px* 0.06);
    }

    .slider__track {
        max-width: 270px;
        gap: 0px;
    }

    .slider__btn {
        letter-spacing: calc(15px* 0.06);
    }

    .slider__arrows {
        width: 184px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .slider__arrow {
        margin-top: 50px;
        position: static;
        transform: translate(0%, 0%);
    }

    .our-Friends__slider {
        padding-bottom: 42px;
    }
}



.help {
    margin-top: 80px;
    margin-bottom: 100px;
}

.help__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__title {
    max-width: 310px;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 59px;
    text-align: center;
    color: var(--color-title);

}

.help__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
    flex-wrap: wrap;
}



.help__box>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.help__box-img {
    margin-bottom: 30px;
}

.help__subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    color: var(--color-title);
}


@media (max-width:1200px) {
    .help__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 55px 60px;
        flex-wrap: wrap;
    }
}

@media (max-width:700px) {
    .help {
        height: 661px;
        margin: 42px 0px;
    }

    .help__title {
        width: 240px;
        margin-bottom: 42px;
        font-size: 25px;
    }

    .help__box {
        height: 555px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .help__box-img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .help__subtitle {
        font-size: 15px;
    }

}


.addition {
    margin-top: 80px;
    margin-bottom: 100px;
}



.addition__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}



.addition__block-right {
    display: flex;
    flex-direction: column;
}

.addition__title {
    max-width: 300px;
    margin-bottom: 19.5px;
    color: var(--color-title);
}

.addition__text-bank {
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: calc(15px * 0.06);
    height: 16px;
    margin-bottom: 20.5px;
    color: var(--color-title)
}

.addition__card {
    max-width: 349px;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    text-align: left;
    background-color: var(--color-btn-marker);
    color: var(--color-title);
    transition: all 0.5s;
}

.addition__card:hover {
    background-color: var(--color-btn-hover);
}

.addition__card:active {
    background-color: var(--color-btn-marker);
}

.addition__text {
    max-width: 380px;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    color: var(--colot-text-help-opacity);
}

@media (max-width:1200px) {
    .addition__body {
        flex-wrap: wrap-reverse;
    }

    .addition__box-img {
        margin-top: 30px;
    }
}

@media (max-width:700px) {
    .addition {
        height: 459px;
        margin-top: 41px;
        margin-bottom: 42px;
    }

    .addition__body {
        gap: 42px;
    }


    .addition__title {
        max-width: 230px;
        height: 66px;
        margin-bottom: 19px;
    }


    .addition__box-img {
        margin-top: 0;
    }

    .addition__block-right {
        align-items: center;
        text-align: center;
    }



    .addition__text-bank {
        line-height: 160%;
        letter-spacing: 0px;
        height: 24px;
        margin-bottom: 20px;
    }

    .addition__card {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: calc(15px * 0.06);

    }

    .addition__icon-card {
        margin-right: 15px;
    }

    .addition__text {
        width: 280px;
        text-align: justify;
    }

    .addition__img {
        width: 260px;
        height: 135.19px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
}

.active-popup {
    display: block;
}

.popup__body {
    width: 70.31vw;
    max-width: 900px;
    display: grid;
    grid-template-columns: minmax(350px, 500px) minmax(280px, 400px);
    justify-content: center;
    overflow: hidden;
}


@media (max-width: 1200px) {
    .popup__body {
        width: 82.03vw;
    }
}


.pop__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__img {
    width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

.popup__info {
    margin-left: 29px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .popup__info {
        margin-left: 11px;
        margin-right: 9px;
    }
}

.popup__title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    color: #000000;
}




.popup__type {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    font-weight: 400;
    color: #000000;
}

.popup__breed {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: calc(20px * 0.06);
    font-weight: 400;
    color: #000000;
}

.popup__description {
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: calc(15px * 0.06);
    font-weight: 400;
    text-align: left;
    color: #000000;
}


@media (max-width: 1200px) {
    .popup__description {
        font-size: 13px;
    }
}

.popup__list {
    position: relative;
}

.popup__list>li {
    margin-bottom: 10px;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: calc(15px * 0.06);
    font-weight: 700;
    color: #000000;
}

.popup__list>li::before {
    content: "•";
    color: var(--color-btn-marker);


}

.popup__list>li>span {
    font-weight: 400;
}

.popup__cross-box {
    position: absolute;
    top: -52px;
    right: -40px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-btn-marker);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}


.popup__cross-box:hover {
    background-color: #F6F6F6;
}

.popup__cross-box:hover>.popup__cross {
    background-color: var(--color-btn-marker);
}

.popup__cross {
    display: block;
    width: 2px;
    height: 12px;
    background-color: #000000;
    transform: rotate(45deg);
    transition: background-color 0.5s ease;
}

.popup__cross::before {
    content: "";
    display: block;
    width: 2px;
    height: 12px;
    background-color: inherit;
    transform: rotate(-90deg);
}



@media (max-width:750px) {


    .popup__body {
        max-width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pop__img-box {
        display: none;
    }

    .popup__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 11px;
        margin-right: 9px;
    }

    .popup__title {
        display: inline;
        text-align: center;
    }

    .popup__type {
        display: inline;
        text-align: center;
    }

    .popup__breed {
        text-align: center;
    }

    .popup__list {
        align-self: self-start;
    }
}